//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 09 03:11:01 2016
//! **************************************************************************

SCHEMATIC START;
COMP "fr" LOCATE = SITE "J15" LEVEL 1;
COMP "ft" LOCATE = SITE "J14" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RST" LOCATE = SITE "G18" LEVEL 1;
COMP "rxd" LOCATE = SITE "U6" LEVEL 1;
COMP "txd" LOCATE = SITE "P9" LEVEL 1;
COMP "parity_kind" LOCATE = SITE "R17" LEVEL 1;
COMP "read" LOCATE = SITE "L13" LEVEL 1;
COMP "rst_m" LOCATE = SITE "K17" LEVEL 1;
COMP "rst_n" LOCATE = SITE "H18" LEVEL 1;
COMP "CHIP_SELECT_BAR" LOCATE = SITE "K18" LEVEL 1;
COMP "parity_en" LOCATE = SITE "N17" LEVEL 1;
COMP "txd_en" LOCATE = SITE "L14" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

