//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 19 21:55:48 2017
//! **************************************************************************

SCHEMATIC START;
COMP "fr" LOCATE = SITE "U16" LEVEL 1;
COMP "ft" LOCATE = SITE "V16" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rxd" LOCATE = SITE "N17" LEVEL 1;
COMP "txd" LOCATE = SITE "N18" LEVEL 1;
COMP "parity_kind" LOCATE = SITE "N8" LEVEL 1;
COMP "segments<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "segments<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "segments<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "segments<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "segments<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "segments<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "segments<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "segments<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "sd_en" LOCATE = SITE "V8" LEVEL 1;
COMP "rst_m" LOCATE = SITE "M8" LEVEL 1;
COMP "rst_n" LOCATE = SITE "T5" LEVEL 1;
COMP "button<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "button<1>" LOCATE = SITE "C9" LEVEL 1;
COMP "button<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "button<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "parity_en" LOCATE = SITE "U8" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "sel<3>" LOCATE = SITE "P17" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "sampleclk1/sample_clk" BEL "sampleclk2/sample_clk"
        BEL "sampleclk1/clk_counter_0" BEL "sampleclk1/clk_counter_1" BEL
        "sampleclk1/clk_counter_2" BEL "sampleclk1/clk_counter_3" BEL
        "sampleclk1/clk_counter_4" BEL "sampleclk1/clk_counter_5" BEL
        "sampleclk1/clk_counter_6" BEL "sampleclk1/clk_counter_7" BEL
        "sampleclk1/clk_counter_8" BEL "sampleclk1/clk_counter_9" BEL
        "sampleclk2/clk_counter_0" BEL "sampleclk2/clk_counter_1" BEL
        "sampleclk2/clk_counter_2" BEL "sampleclk2/clk_counter_3" BEL
        "sampleclk2/clk_counter_4" BEL "sampleclk2/clk_counter_5" BEL
        "sampleclk2/clk_counter_6" BEL "sampleclk2/clk_counter_7" BEL
        "sampleclk2/clk_counter_8" BEL "sampleclk2/clk_counter_9" BEL
        "sampleclk2/clk_counter_10" BEL "sampleclk2/clk_counter_11" BEL
        "sampleclk2/clk_counter_12" BEL "show/clk_counter_0" BEL
        "show/clk_counter_1" BEL "show/clk_counter_2" BEL "show/clk_counter_3"
        BEL "show/clk_counter_4" BEL "show/clk_counter_5" BEL
        "show/clk_counter_6" BEL "show/clk_counter_7" BEL "show/clk_counter_8"
        BEL "show/clk_counter_9" BEL "show/clk_counter_10" BEL
        "show/clk_counter_11" BEL "show/clk_counter_12" BEL
        "show/clk_counter_13" BEL "show/clk_counter_14" BEL
        "show/clk_counter_15" BEL "show/sample_clk_0" BEL "show/sample_clk_1"
        BEL "fdd1/count_low2_25" BEL "fdd1/count_low2_24" BEL
        "fdd1/count_low2_23" BEL "fdd1/count_low2_22" BEL "fdd1/count_low2_21"
        BEL "fdd1/count_low2_20" BEL "fdd1/count_low2_19" BEL
        "fdd1/count_low2_18" BEL "fdd1/count_low2_17" BEL "fdd1/count_low2_16"
        BEL "fdd1/count_low2_15" BEL "fdd1/count_low2_14" BEL
        "fdd1/count_low2_13" BEL "fdd1/count_low2_12" BEL "fdd1/count_low2_11"
        BEL "fdd1/count_low2_10" BEL "fdd1/count_low2_9" BEL
        "fdd1/count_low2_8" BEL "fdd1/count_low2_7" BEL "fdd1/count_low2_6"
        BEL "fdd1/count_low2_5" BEL "fdd1/count_low2_4" BEL
        "fdd1/count_low2_3" BEL "fdd1/count_low2_2" BEL "fdd1/count_low2_1"
        BEL "fdd1/count_low2_0" BEL "fdd1/count_high1_25" BEL
        "fdd1/count_high1_24" BEL "fdd1/count_high1_23" BEL
        "fdd1/count_high1_22" BEL "fdd1/count_high1_21" BEL
        "fdd1/count_high1_20" BEL "fdd1/count_high1_19" BEL
        "fdd1/count_high1_18" BEL "fdd1/count_high1_17" BEL
        "fdd1/count_high1_16" BEL "fdd1/count_high1_15" BEL
        "fdd1/count_high1_14" BEL "fdd1/count_high1_13" BEL
        "fdd1/count_high1_12" BEL "fdd1/count_high1_11" BEL
        "fdd1/count_high1_10" BEL "fdd1/count_high1_9" BEL
        "fdd1/count_high1_8" BEL "fdd1/count_high1_7" BEL "fdd1/count_high1_6"
        BEL "fdd1/count_high1_5" BEL "fdd1/count_high1_4" BEL
        "fdd1/count_high1_3" BEL "fdd1/count_high1_2" BEL "fdd1/count_high1_1"
        BEL "fdd1/count_high1_0" BEL "fdd1/count_low1_25" BEL
        "fdd1/count_low1_24" BEL "fdd1/count_low1_23" BEL "fdd1/count_low1_22"
        BEL "fdd1/count_low1_21" BEL "fdd1/count_low1_20" BEL
        "fdd1/count_low1_19" BEL "fdd1/count_low1_18" BEL "fdd1/count_low1_17"
        BEL "fdd1/count_low1_16" BEL "fdd1/count_low1_15" BEL
        "fdd1/count_low1_14" BEL "fdd1/count_low1_13" BEL "fdd1/count_low1_12"
        BEL "fdd1/count_low1_11" BEL "fdd1/count_low1_10" BEL
        "fdd1/count_low1_9" BEL "fdd1/count_low1_8" BEL "fdd1/count_low1_7"
        BEL "fdd1/count_low1_6" BEL "fdd1/count_low1_5" BEL
        "fdd1/count_low1_4" BEL "fdd1/count_low1_3" BEL "fdd1/count_low1_2"
        BEL "fdd1/count_low1_1" BEL "fdd1/count_low1_0" BEL
        "fdd1/count_high0_25" BEL "fdd1/count_high0_24" BEL
        "fdd1/count_high0_23" BEL "fdd1/count_high0_22" BEL
        "fdd1/count_high0_21" BEL "fdd1/count_high0_20" BEL
        "fdd1/count_high0_19" BEL "fdd1/count_high0_18" BEL
        "fdd1/count_high0_17" BEL "fdd1/count_high0_16" BEL
        "fdd1/count_high0_15" BEL "fdd1/count_high0_14" BEL
        "fdd1/count_high0_13" BEL "fdd1/count_high0_12" BEL
        "fdd1/count_high0_11" BEL "fdd1/count_high0_10" BEL
        "fdd1/count_high0_9" BEL "fdd1/count_high0_8" BEL "fdd1/count_high0_7"
        BEL "fdd1/count_high0_6" BEL "fdd1/count_high0_5" BEL
        "fdd1/count_high0_4" BEL "fdd1/count_high0_3" BEL "fdd1/count_high0_2"
        BEL "fdd1/count_high0_1" BEL "fdd1/count_high0_0" BEL
        "fdd1/count_high3_25" BEL "fdd1/count_high3_24" BEL
        "fdd1/count_high3_23" BEL "fdd1/count_high3_22" BEL
        "fdd1/count_high3_21" BEL "fdd1/count_high3_20" BEL
        "fdd1/count_high3_19" BEL "fdd1/count_high3_18" BEL
        "fdd1/count_high3_17" BEL "fdd1/count_high3_16" BEL
        "fdd1/count_high3_15" BEL "fdd1/count_high3_14" BEL
        "fdd1/count_high3_13" BEL "fdd1/count_high3_12" BEL
        "fdd1/count_high3_11" BEL "fdd1/count_high3_10" BEL
        "fdd1/count_high3_9" BEL "fdd1/count_high3_8" BEL "fdd1/count_high3_7"
        BEL "fdd1/count_high3_6" BEL "fdd1/count_high3_5" BEL
        "fdd1/count_high3_4" BEL "fdd1/count_high3_3" BEL "fdd1/count_high3_2"
        BEL "fdd1/count_high3_1" BEL "fdd1/count_high3_0" BEL
        "fdd1/count_low0_25" BEL "fdd1/count_low0_24" BEL "fdd1/count_low0_23"
        BEL "fdd1/count_low0_22" BEL "fdd1/count_low0_21" BEL
        "fdd1/count_low0_20" BEL "fdd1/count_low0_19" BEL "fdd1/count_low0_18"
        BEL "fdd1/count_low0_17" BEL "fdd1/count_low0_16" BEL
        "fdd1/count_low0_15" BEL "fdd1/count_low0_14" BEL "fdd1/count_low0_13"
        BEL "fdd1/count_low0_12" BEL "fdd1/count_low0_11" BEL
        "fdd1/count_low0_10" BEL "fdd1/count_low0_9" BEL "fdd1/count_low0_8"
        BEL "fdd1/count_low0_7" BEL "fdd1/count_low0_6" BEL
        "fdd1/count_low0_5" BEL "fdd1/count_low0_4" BEL "fdd1/count_low0_3"
        BEL "fdd1/count_low0_2" BEL "fdd1/count_low0_1" BEL
        "fdd1/count_low0_0" BEL "fdd1/count_low3_25" BEL "fdd1/count_low3_24"
        BEL "fdd1/count_low3_23" BEL "fdd1/count_low3_22" BEL
        "fdd1/count_low3_21" BEL "fdd1/count_low3_20" BEL "fdd1/count_low3_19"
        BEL "fdd1/count_low3_18" BEL "fdd1/count_low3_17" BEL
        "fdd1/count_low3_16" BEL "fdd1/count_low3_15" BEL "fdd1/count_low3_14"
        BEL "fdd1/count_low3_13" BEL "fdd1/count_low3_12" BEL
        "fdd1/count_low3_11" BEL "fdd1/count_low3_10" BEL "fdd1/count_low3_9"
        BEL "fdd1/count_low3_8" BEL "fdd1/count_low3_7" BEL
        "fdd1/count_low3_6" BEL "fdd1/count_low3_5" BEL "fdd1/count_low3_4"
        BEL "fdd1/count_low3_3" BEL "fdd1/count_low3_2" BEL
        "fdd1/count_low3_1" BEL "fdd1/count_low3_0" BEL "fdd1/count_high2_25"
        BEL "fdd1/count_high2_24" BEL "fdd1/count_high2_23" BEL
        "fdd1/count_high2_22" BEL "fdd1/count_high2_21" BEL
        "fdd1/count_high2_20" BEL "fdd1/count_high2_19" BEL
        "fdd1/count_high2_18" BEL "fdd1/count_high2_17" BEL
        "fdd1/count_high2_16" BEL "fdd1/count_high2_15" BEL
        "fdd1/count_high2_14" BEL "fdd1/count_high2_13" BEL
        "fdd1/count_high2_12" BEL "fdd1/count_high2_11" BEL
        "fdd1/count_high2_10" BEL "fdd1/count_high2_9" BEL
        "fdd1/count_high2_8" BEL "fdd1/count_high2_7" BEL "fdd1/count_high2_6"
        BEL "fdd1/count_high2_5" BEL "fdd1/count_high2_4" BEL
        "fdd1/count_high2_3" BEL "fdd1/count_high2_2" BEL "fdd1/count_high2_1"
        BEL "fdd1/count_high2_0" BEL "rxd1/wr_1" BEL "rxd1/wr_0" BEL
        "rxd1/receiveflag_FSM_FFd2" BEL "rxd1/receiveflag_FSM_FFd1" BEL
        "rxd1/sample_counter_2" BEL "rxd1/sample_counter_1" BEL
        "rxd1/sample_counter_0" BEL "rxd1/r4_7" BEL "rxd1/r4_6" BEL
        "rxd1/r4_5" BEL "rxd1/r4_4" BEL "rxd1/r4_3" BEL "rxd1/r4_2" BEL
        "rxd1/r4_1" BEL "rxd1/r4_0" BEL "rxd1/r2_7" BEL "rxd1/r2_6" BEL
        "rxd1/r2_5" BEL "rxd1/r2_4" BEL "rxd1/r2_3" BEL "rxd1/r2_2" BEL
        "rxd1/r2_1" BEL "rxd1/r2_0" BEL "rxd1/r1_7" BEL "rxd1/r1_6" BEL
        "rxd1/r1_5" BEL "rxd1/r1_4" BEL "rxd1/r1_3" BEL "rxd1/r1_2" BEL
        "rxd1/r1_1" BEL "rxd1/r1_0" BEL "rxd1/r3_7" BEL "rxd1/r3_6" BEL
        "rxd1/r3_5" BEL "rxd1/r3_4" BEL "rxd1/r3_3" BEL "rxd1/r3_2" BEL
        "rxd1/r3_1" BEL "rxd1/r3_0" BEL "rxd1/rcv_data_7" BEL
        "rxd1/rcv_data_6" BEL "rxd1/rcv_data_5" BEL "rxd1/rcv_data_4" BEL
        "rxd1/rcv_data_3" BEL "rxd1/rcv_data_2" BEL "rxd1/rcv_data_1" BEL
        "rxd1/rcv_data_0" BEL "rxd1/rcv_sr_7" BEL "rxd1/rcv_sr_6" BEL
        "rxd1/rcv_sr_5" BEL "rxd1/rcv_sr_4" BEL "rxd1/rcv_sr_3" BEL
        "rxd1/rcv_sr_2" BEL "rxd1/rcv_sr_1" BEL "rxd1/rcv_sr_0" BEL
        "txd1/send_data_0" BEL "txd1/send_data_4" BEL "txd1/send_data_7" BEL
        "txd1/send_data_2" BEL "txd1/send_data_3" BEL "txd1/send_data_1" BEL
        "txd1/send_data_5" BEL "txd1/send_data_6" BEL "data1/ar_1" BEL
        "data1/ar_0" BEL "rxd1/fr" BEL "txd1/bf2" BEL "txd1/bf3" BEL
        "data1/bf2" BEL "data1/bf3" BEL "fdd1/buttons_3" BEL "fdd1/buttons_1"
        BEL "fdd1/buttons_0" BEL "fdd1/buttons_2" BEL "rxd1/bit_counter_2" BEL
        "rxd1/bit_counter_1" BEL "rxd1/bit_counter_0" BEL "rxd1/bit_counter_3"
        BEL "rxd1/parity1_C" BEL "rxd1/parity1_P" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

